.dog-chat-block {
    display: flex;
    flex-flow: row nowrap;
    padding: 2vw;
    background-color: rgb(194, 220, 255);
    margin: 2px 0;
}

.chat-block-portrait * {
    max-width: 64px;
    border-radius: 100%;
}

.chat-block-preview {
    margin-left: 2vw;
}

.chat-block-dog-name {
}

.chat-block-paragraph-preview {
}
