#game-window {
    flex-grow: 1;
    background-color: $space-blue;
    border-right: 1vw solid $window-blue;
    border-left: 1vw solid $window-blue;
}

#window-border {
    background-color: $window-blue;
}