
// ------------------------------------------------------- COLORS --------------------------------

$window-blue: #4D6CBE;
$window-light-blue: #829adc;
$title-pink: #FF0187;
$sun-orange: #FFB441;
$space-blue: #1a2442;


// ---------------------------------------------------- BREAKPOINTS ------------------------------

$breakMobile: "max-width: 768px";
$breakDesktop: "min-width: 769px";
